**Driving right (1)**

Remember that cars dataset, containing the cars per 1000 people (cars_per_cap) and whether people drive right (drives_right) for different countries (country)? The code that imports this data in CSV format into Python as a DataFrame is included in the script.

In the video, you saw a step-by-step approach to filter observations from a DataFrame based on boolean arrays. Let's start simple and try to find all observations in cars where drives_right is True.

drives_right is a boolean column, so you'll have to extract it as a Series and then use this boolean Series to select observations from cars.


* Extract the drives_right column as a Pandas Series and store it as dr.
* Use dr, a boolean Series, to subset the cars DataFrame. Store the resulting selection in sel.
* Print sel, and assert that drives_right is True for all observations.

In [1]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/kaggle/input/d/ayushparwal2026/cars-dataset/used_cars_data.csv', index_col = 0)

cars.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

** Subsetting Rows by a Condition:**

In [6]:
# Subset rows where the 'Name' column matches a specific value
sel = cars[cars['Name'] == 'Maruti Wagon R LXI CNG']

# Print the selected rows
print(sel)

                         Name   Location  Year  Kilometers_Driven Fuel_Type  \
S.No.
0      Maruti Wagon R LXI CNG     Mumbai  2010              72000       CNG
127    Maruti Wagon R LXI CNG       Pune  2013              89900       CNG
1218   Maruti Wagon R LXI CNG       Pune  2015              70000       CNG
1357   Maruti Wagon R LXI CNG     Mumbai  2014              40000       CNG
1780   Maruti Wagon R LXI CNG     Mumbai  2013              25755       CNG
1911   Maruti Wagon R LXI CNG  Ahmedabad  2016              77000       CNG
2376   Maruti Wagon R LXI CNG  Hyderabad  2013              83875       CNG
2638   Maruti Wagon R LXI CNG       Pune  2012              90400       CNG
3008   Maruti Wagon R LXI CNG      Delhi  2014              48500       CNG
3097   Maruti Wagon R LXI CNG       Pune  2012              92000       CNG
3295   Maruti Wagon R LXI CNG      Delhi  2013              62000       CNG
3455   Maruti Wagon R LXI CNG     Mumbai  2014              41000       CNG
4411   Maruti Wagon R LXI CNG      Kochi  2014              68365       CNG
4920   Maruti Wagon R LXI CNG       Pune  2014              58000       CNG
5655   Maruti Wagon R LXI CNG     Mumbai  2015              22001       CNG
5747   Maruti Wagon R LXI CNG      Delhi  2014              62549       CNG
5881   Maruti Wagon R LXI CNG       Pune  2015              55000       CNG
5902   Maruti Wagon R LXI CNG     Mumbai  2012              72000       CNG

      Transmission Owner_Type     Mileage  Engine      Power  Seats New_Price  \
S.No.
0           Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
127         Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
1218        Manual      First  26.2 km/kg  998 CC   58.2 bhp    5.0       NaN
1357        Manual     Second  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
1780        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
1911        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
2376        Manual     Second  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
2638        Manual      First  26.2 km/kg  998 CC   58.2 bhp    5.0       NaN
3008        Manual     Second  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
3097        Manual     Second  26.2 km/kg  998 CC   58.2 bhp    5.0       NaN
3295        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
3455        Manual      First  26.2 km/kg  998 CC   58.2 bhp    5.0       NaN
4411        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
4920        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
5655        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
5747        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
5881        Manual      First  26.6 km/kg  998 CC  58.16 bhp    5.0       NaN
5902        Manual      First  26.2 km/kg  998 CC   58.2 bhp    5.0       NaN

       Price
S.No.
0       1.75
127     3.25
1218    3.65
1357    3.15
1780    3.15
1911    3.30
2376    2.95
2638    2.90
3008    2.85
3097    3.00
3295    2.80
3455    3.50
4411    3.77
4920    3.00
5655    3.65
5747    2.95
5881    3.70
5902    2.25

**Selecting Specific Columns:**

In [7]:
# Example: Selecting specific columns by name
sel = cars[['Name', 'Price', 'Mileage']]

# Print the selected columns
print(sel)

                                                    Name  Price     Mileage
S.No.
0                                 Maruti Wagon R LXI CNG   1.75  26.6 km/kg
1                       Hyundai Creta 1.6 CRDi SX Option  12.50  19.67 kmpl
2                                           Honda Jazz V   4.50   18.2 kmpl
3                                      Maruti Ertiga VDI   6.00  20.77 kmpl
4                        Audi A4 New 2.0 TDI Multitronic  17.74   15.2 kmpl
...                                                  ...    ...         ...
7248                   Volkswagen Vento Diesel Trendline    NaN  20.54 kmpl
7249                              Volkswagen Polo GT TSI    NaN  17.21 kmpl
7250                              Nissan Micra Diesel XV    NaN  23.08 kmpl
7251                              Volkswagen Polo GT TSI    NaN   17.2 kmpl
7252   Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...    NaN   10.0 kmpl

[7253 rows x 3 columns]

**Select Rows Using .loc[]:**

In [8]:
# Set 'Name' as the index
cars.set_index('Name', inplace=True)

# Use .loc to subset rows by index
sel = cars.loc[['Maruti Wagon R LXI CNG', 'Honda Jazz V']]

# Print the selected rows
print(sel)

                         Location  Year  Kilometers_Driven Fuel_Type  \
Name
Maruti Wagon R LXI CNG     Mumbai  2010              72000       CNG
Maruti Wagon R LXI CNG       Pune  2013              89900       CNG
Maruti Wagon R LXI CNG       Pune  2015              70000       CNG
Maruti Wagon R LXI CNG     Mumbai  2014              40000       CNG
Maruti Wagon R LXI CNG     Mumbai  2013              25755       CNG
Maruti Wagon R LXI CNG  Ahmedabad  2016              77000       CNG
Maruti Wagon R LXI CNG  Hyderabad  2013              83875       CNG
Maruti Wagon R LXI CNG       Pune  2012              90400       CNG
Maruti Wagon R LXI CNG      Delhi  2014              48500       CNG
Maruti Wagon R LXI CNG       Pune  2012              92000       CNG
Maruti Wagon R LXI CNG      Delhi  2013              62000       CNG
Maruti Wagon R LXI CNG     Mumbai  2014              41000       CNG
Maruti Wagon R LXI CNG      Kochi  2014              68365       CNG
Maruti Wagon R LXI CNG       Pune  2014              58000       CNG
Maruti Wagon R LXI CNG     Mumbai  2015              22001       CNG
Maruti Wagon R LXI CNG      Delhi  2014              62549       CNG
Maruti Wagon R LXI CNG       Pune  2015              55000       CNG
Maruti Wagon R LXI CNG     Mumbai  2012              72000       CNG
Honda Jazz V              Chennai  2011              46000    Petrol
Honda Jazz V               Mumbai  2016              31378    Petrol
Honda Jazz V            Hyderabad  2015              37000    Petrol
Honda Jazz V                Kochi  2017              36973    Petrol

                       Transmission Owner_Type     Mileage   Engine  \
Name
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.2 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual     Second  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual     Second  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.2 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual     Second  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual     Second  26.2 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.2 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.6 km/kg   998 CC
Maruti Wagon R LXI CNG       Manual      First  26.2 km/kg   998 CC
Honda Jazz V                 Manual      First   18.2 kmpl  1199 CC
Honda Jazz V                 Manual      First   18.2 kmpl  1199 CC
Honda Jazz V                 Manual      First   18.2 kmpl  1199 CC
Honda Jazz V                 Manual      First   18.2 kmpl  1199 CC

                            Power  Seats  New_Price  Price
Name
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   1.75
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.25
Maruti Wagon R LXI CNG   58.2 bhp    5.0        NaN   3.65
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.15
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.15
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.30
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   2.95
Maruti Wagon R LXI CNG   58.2 bhp    5.0        NaN   2.90
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   2.85
Maruti Wagon R LXI CNG   58.2 bhp    5.0        NaN   3.00
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   2.80
Maruti Wagon R LXI CNG   58.2 bhp    5.0        NaN   3.50
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.77
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.00
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.65
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   2.95
Maruti Wagon R LXI CNG  58.16 bhp    5.0        NaN   3.70
Maruti Wagon R LXI CNG   58.2 bhp    5.0        NaN   2.25
Honda Jazz V             88.7 bhp    5.0  8.61 Lakh   4.50
Honda Jazz V             88.7 bhp    5.0  8.71 Lakh   5.90
Honda Jazz V             88.7 bhp    5.0  8.79 Lakh   6.30
Honda Jazz V             88.7 bhp    5.0  8.71 Lakh   6.80

In [10]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars1 = pd.DataFrame(cars_dict)
print(cars1)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars1.index = row_labels

# Print cars again
print(cars1)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [13]:
# Extract names column as Series: dr
dr = cars1['drives_right']

# Use dr to subset cars: sel
sel = cars1[dr]

# Print sel
print(sel)

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

**Driving right (2)**

The code in the previous example worked fine, but you actually unnecessarily created a new variable dr. You can achieve the same result without this intermediate variable. Put the code that computes dr straight into the square brackets that select observations from cars.

* Convert the code to a one-liner that calculates the variable sel as before.

In [11]:

# Convert code to a one-liner
sel = cars1[cars1['drives_right']]

# Print sel
print(sel)

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

Nice one! cars contains 7 rows or observations, sel contains 4; so in the majority of the countries in your dataset, people drive on the right side of the road.

**Cars per capita (1)**

Let's stick to the cars data some more. This time you want to find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars.

Similar to the previous example, you'll want to build up a boolean Series, that you can then use to subset the cars DataFrame to select certain observations. If you want to do this in a one-liner, that's perfectly fine!


* Select the cars_per_cap column from cars as a Pandas Series and store it as cpc.
* Use cpc in combination with a comparison operator and 500. You want to end up with a boolean Series that's True if the corresponding country has a cars_per_cap of more than 500 and False otherwise. Store this boolean Series as many_cars.
* Use many_cars to subset cars, similar to what you did before. Store the result as car_maniac.
Print out car_maniac to see if you got it right.

In [15]:


# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars1['cars_per_cap']
many_cars = cpc > 500
car_manic = cars1[many_cars]

# Print car_maniac
print(car_manic)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588

**Cars per capita (2)**

Remember about np.logical_and(), np.logical_or() and np.logical_not(), the NumPy variants of the and, or and not operators? You can also use them on Pandas Series to do more advanced filtering operations.

Take this example that selects the observations that have a cars_per_cap between 10 and 80. Try out these lines of code step by step to see what's happening.

 cpc = cars['cars_per_cap']
 
between = np.logical_and(cpc > 10, cpc < 80)

medium = cars[between]

* Use the code sample provided to create a DataFrame medium, that includes all the observations of cars that have a cars_per_cap between 100 and 500.
* Print out medium.

In [18]:
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars1['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars1[between]


# Print medium
print(medium)

   country  drives_right  cars_per_cap
RU  Russia          True           200