# Which NYC schools have the best math results?

The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.
What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).
Which single borough has the largest standard deviation in the combined SAT score?

* Save your results as a pandas DataFrame called largest_std_dev.
* The DataFrame should contain one row, with:
* "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
* "num_schools" - the number of schools in the borough.
* "average_SAT" - the mean of "total_SAT".
* "std_SAT" - the standard deviation of "total_SAT".
* Round all numeric values to two decimal places.


1. Finding schools with the best math scores
 
2. Identifying the top 10 performing schools
 
3. Locating the NYC borough with the largest standard deviation in SAT performance

very year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("/kaggle/input/exploring-nyc-public-school-test-result-scores/schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

**Finding schools with the best math scores**

Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

In [2]:
best_math_schools = schools[schools['average_math'] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

**Identifying the top 10 performing schools**

Find the 10 best performing schools based on the total score across the three SAT sections.

In [3]:
schools['total_SAT'] = schools["average_math"] + schools["average_writing"] + schools["average_reading"]

print(schools['total_SAT'])

0      1859
1      1193
2      1261
3      1529
4      1197
       ...
370    1086
371    1114
372    1280
373    1207
374    1716
Name: total_SAT, Length: 375, dtype: int64

In [4]:
top_10_schools = schools.sort_values("total_SAT", ascending =- False)[["school_name", "total_SAT"]].head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

**Filter for max std and make borough a cloumn**

In [5]:
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)
print(boroughs)

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30

In [6]:
# Filter for max std and make borough a column

largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]
print(largest_std_dev)

           count     mean     std
borough
Manhattan     89  1340.13  230.29


**Locating the NYC borough with the largest standard deviation in SAT performance**

Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

In [7]:
# Rename the columns for clarity

largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})

print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

In [8]:
# Optional: Move borough from index to column
largest_std_dev.reset_index(inplace=True)

print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29