# Project 

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like .csv, .tsv, and .xlsx.

Recall that CSV, TSV, and Excel files are three common formats for storing data. Three files containing data on 2019 Airbnb listings are available to you:

### data/airbnb_price.csv This is a CSV file containing data on Airbnb listing prices and locations.

* listing_id: unique identifier of listing
* price: nightly listing price in USD
* nbhood_full: name of borough and neighborhood where listing is located

### data/airbnb_room_type.xlsx This is an Excel file containing data on Airbnb listing descriptions and room types.

* listing_id: unique identifier of listing
* description: listing description
* room_type: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

### data/airbnb_last_review.tsv This is a TSV file containing data on Airbnb host names and review dates.

* listing_id: unique identifier of listing
* host_name: name of listing host
* last_review: date when the listing was last reviewed

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
How many of the listings are private rooms? Save this into any variable.
What is the average listing price? Round to the nearest two decimal places and save into a variable.
Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

# Loading the data

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

In [12]:
# Import csv for prices
airbnb_price = pd.read_csv("/kaggle/input/new-york-city-airbnb-market/airbnb_price.csv")

#Import excel file for room types
airbnb_room_type = pd.read_excel('/kaggle/input/new-york-city-airbnb-market/airbnb_room_type.xlsx') 

# Import TSV for review dates
airbnb_last_review = pd.read_csv('/kaggle/input/new-york-city-airbnb-market/airbnb_last_review.csv')

In [13]:
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [14]:
airbnb_room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [15]:
airbnb_last_review.head()

    listing_id    host_name   last_review
0         2595     Jennifer   May 21 2019
1         3831  LisaRoxanne  July 05 2019
2         5099        Chris  June 22 2019
3         5178     Shunichi  June 24 2019
4         5238          Ben  June 09 2019

# Merging the three DataFrames

In [20]:
# Join the three data frames together into one

listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')
# listings = pd.merge(listings, airbnb_last_review, on='listing_id')
listings.head()

,listing_id,price,nbhood_full,description,room_type
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt

Determining the earliest and most recent review dates

In [23]:
# Ensure all column names are standardized
airbnb_price.columns = airbnb_price.columns.str.strip().str.lower()
airbnb_room_type.columns = airbnb_room_type.columns.str.strip().str.lower()
airbnb_last_review.columns = airbnb_last_review.columns.str.strip().str.lower()

# Merge the DataFrames
listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')

if 'listing_id' in airbnb_last_review.columns:
    listings = pd.merge(listings, airbnb_last_review, on='listing_id')
else:
    print("Column 'listing_id' not found in airbnb_last_review.")

listings.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

# Determining the earliest and most recent review dates

### What are the dates of the earliest and most recent reviews?
### To use a function like max()/min() on last_review date column,it needs to be converted to datetime type

In [24]:
listings['last_date_review'] = pd.to_datetime(listings['last_review'])
listings['last_date_review']

0       2019-05-21
1       2019-07-05
2       2019-06-22
3       2019-06-24
4       2019-06-09
           ...
25204   2019-07-07
25205   2019-07-07
25206   2019-07-07
25207   2019-07-07
25208   2019-07-08
Name: last_date_review, Length: 25209, dtype: datetime64[ns]

In [25]:
first_reviewed = listings['last_date_review'].min()
last_reviewed = listings['last_date_review'].max()

print(first_reviewed, last_reviewed)

2019-01-01 00:00:00 2019-07-09 00:00:00

# Finding how many listings are private rooms


* How many of the listings are private rooms?
* Since there are differences in capitalization, make capitalization consistent

In [26]:
listings['room_type'] = listings['room_type'].str.lower()
private_room_count = listings[listings['room_type'] == 'private room'].shape[0]

print(private_room_count)

11356

# Finding the average price of listings'

### What is the average listing price?
### To convert price to numeric, remove " dollars" from each value

In [27]:
listings['price_clean'] = listings['price'].str.replace('dollars', '').astype(float)

avg_price = listings['price_clean'].mean()
avg_price

141.7779364512674

# Creating a DataFrame with the four solution values

In [28]:
review_dates = pd.DataFrame({
    'first_reviewed' : [first_reviewed],
    'last_reviewed' : [last_reviewed],
    'nb_private_rooms' : [private_room_count],
    'avg_price': [round(avg_price, 2)]
})

print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

In [30]:
# # Import csv for prices
# airbnb_price = pd.read_csv("data/airbnb_price.csv")

# #Import excel file for room types
# airbnb_room_type = pd.read_excel('data/airbnb_room_type.xlsx') 

# # Import TSV for review dates
# airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep ='\t')

# # Join the three data frames together into one

# listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')
# listings = pd.merge(listings, airbnb_last_review, on='listing_id')
# listings.head()

# listings['last_date_review'] = pd.to_datetime(listings['last_review'])
# listings['last_date_review']

# first_reviewed = listings['last_date_review'].min()
# last_reviewed = listings['last_date_review'].max()

# print(first_reviewed, last_reviewed)

# listings['room_type'] = listings['room_type'].str.lower()
# private_room_count = listings[listings['room_type'] == 'private room'].shape[0]

# print(private_room_count)

# listings['price_clean'] = listings['price'].str.replace('dollars', '').astype(float)

# avg_price = listings['price_clean'].mean()
# avg_price

# review_dates = pd.DataFrame({
#     'first_reviewed' : [first_reviewed],
#     'last_reviewed' : [last_reviewed],
#     'nb_private_rooms' : [private_room_count],
#     'avg_price': [round(avg_price, 2)]
# })

# print(review_dates)